<form novalidate  class="form-horizontal"  name="formAlta" ng-submit="saveChangeState()">
<h4 class="sub-header">Datos</h4>
<div class="form-group">

<div class="form-group">
<label class="col-md-2 control-label" for="example-select">Productor *</label>
<div class="col-md-2">
<div isteven-multi-select="" input-model="productores" output-model="evento.Productor" button-label="icon Nombre" item-label="icon Nombre maker" tick-property="ticked" class="ng-isolate-scope" selection-mode="single" class="resultDataSelect"></div>
<input type="text" ng-model="evento.idProductor" name="datosUsuario" style="display:none" />
<span style="color:red" id="" class="ng-hide">
<span >Requerido.</span>

</div>
</div>



<div class="form-group">
<label class="col-md-2 control-label" for="example-select">Stage *</label>
<div class="col-md-2">
<div isteven-multi-select="" input-model="stages" output-model="evento.Stage" button-label="icon Nombre" item-label="icon Nombre maker" tick-property="ticked" class="ng-isolate-scope" selection-mode="single"></div>
<input type="text" ng-model="evento.IdStage" name="datosUsuario" style="display:none"  />
<span style="color:red" id="spanUsuarioError" class="ng-hide">
<span >Requerido.</span>

</div>
</div>






<div class="form-group">
<div class="col-md-5 col-md-offset-2">
<button type="submit" class="btn btn-primary" data-ng-disabled='!formAlta.$valid'><i class="icon-arrow-right"></i> Cambiar Estado</button>
</div>
</div>

</form>
</div>
</div>

</form>
<script src="js/vendor/bootstrap.min-1.03.js"></script>

<script src="js/plugins-1.03.js"></script>


<script src="js/main-1.03.js"></script>

